<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs.dao.ClothesPhotoMapper">
  <resultMap id="BaseResultMap" type="com.cs.entity.ClothesPhoto">
    <id column="photo_id" jdbcType="INTEGER" property="photoId" />
    <result column="photo_name" jdbcType="VARCHAR" property="photoName" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clothes_photo
    where photo_id = #{photoId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cs.entity.ClothesPhoto">
    insert into clothes_photo (photo_id, photo_name, photo_url
      )
    values (#{photoId,jdbcType=INTEGER}, #{photoName,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cs.entity.ClothesPhoto">
    update clothes_photo
    set photo_name = #{photoName,jdbcType=VARCHAR},
      photo_url = #{photoUrl,jdbcType=VARCHAR}
    where photo_id = #{photoId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select photo_id, photo_name, photo_url
    from clothes_photo
    where photo_id = #{photoId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select photo_id, photo_name, photo_url
    from clothes_photo
  </select>
</mapper>